
body {
    font-family: 'Ubuntu', sans-serif;
}
.ptr {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: azure;
}
.contenedor {
    border-radius: 10px;
    background-color: darkslategray;
    width: 350px;
    padding: 20px;
    box-shadow: 5px 5px 10px;
}

.contenedor h1 {
    color: white;            
}

.contenedor span {
    color: turquoise;
}

.contenedor p {
    color: lightgrey;
}

hr {
    border: none;
    border-top: 1px solid lightgrey;
    margin: 25px 0;
    opacity: 0.2;                       
}

.btnPss {
    background-color: turquoise ;
    border-radius: 5px;
    padding: 10px;
    color: darkslategray;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.passwords {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.passwords > div {
    background-color: #263f3f;
    color: turquoise;
    padding: 3px 8px;
}